<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%- pageTitle %></title>
    <meta name="description" content="Dashboard for danktial league bot">
	<meta property="og:title" content="danktial">
	<meta property="og:site_name" content="danktial">
	<meta property="og:description" content="Dashboard for danktial league bot">
	<meta property="og:image" content="img/favicon.ico">
	<meta property="og:url" content="https://www.destial.xyz/dashboard">
    <link rel="shortcut icon" type="img/ico" href="img/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="css/stylesheet.css">
</head>