<div class="navbar">
    <a href="/dashboard"><%- pageTitle %></a>
    <div class="right">
        <a href="https://discord.gg/frZ7u3cK2q">Invite</a>
        <% if (user) { %>
            <a href="/dashboard/me"><%- user.username %></a>
        <% } else { %>
            <a href="/dashboard/auth/discord">Login</a>
        <% } %>
    </div>
</div>