<!DOCTYPE html>
<html lang="en">
<%- include('partials/header.ejs') %>
<body>
    <%- include('partials/navbar.ejs') %>

    <div class="page-content">
        <% if (user && guilds) { %>
            <h1>Your Servers:</h1>
            <% guilds.forEach(function(server){ %>
                <h2>
                    <a href='/dashboard/<%- server.id %>'>
                        <%= server.name %>
                    </a>
                </h2>
            <% }) %>
        <% } else { %>
            <h1>Welcome to danktial's dashboard!</h1>
            <p>Login to start modifying your league!</p>
        <% } %>
    </div>
</body>
</html>